name: Production CI/CD Pipeline
on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Installing Packages
      run: npm ci
    - name: Lint
      run: npm run lint --if-present
    - name: Deploying to GitHub Pages
      run: |
        git config --global user.email ${{secrets.ADMIN_EMAIL}}
        git config --global user.name ${{secrets.ADMIN_USERNAME}}
        git remote set-url origin https://${{secrets.ADMIN_PERSONAL_ACCESS_TOKEN}}@github.com/Latticebyte/onsquarecode-ui.git
        npm run deploy
